<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <h1>Login:</h1>

  <div class="form-group">
    <input type="text" id="userName" placeholder="User Name..." ngModel name="userName" #userName="ngModel" required
      class="big">

    <input type="password" id="password" placeholder="Password..." ngModel name="password" #password="ngModel"
      minlength="6" maxlength="6" required class="big" (input)="resetPassAuth()">

    <!-- error msgs -->
    <div class="alert alert-danger" *ngIf="userName.touched && userName.invalid" class="error-block">
      <div *ngIf="userName.errors?.required">
        User Name is required
      </div>
    </div>

    <div class="alert alert-danger" *ngIf="password.touched && password.invalid" class="error-block">
      <div *ngIf="password.errors?.required">
        Password is required
      </div>
      <div *ngIf="password.errors?.maxlength || password.errors?.minlength ">
        Password need to be 6 character
      </div>
    </div>

    <div class="alert alert-danger" *ngIf="!passAuth" class="error-block">
      Password is incurrect
    </div>

  </div>

  <button [disabled]="loginForm.form.invalid" class="big btn">Login</button>
</form>