<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
  <div class="form-group">
    <!-- <label for="search">Email Address:</label> -->
    <input type="text" id="search" placeholder="book name..." class="form-control" ngModel name="search"
      #search="ngModel" minlength="3" required class="big">
  </div>
  <button [disabled]="searchForm.form.invalid" class="big">Search</button>
</form>

<!-- search - error msg -->
<div class="alert alert-danger" *ngIf="search.touched && search.invalid" class="error-block">
  <div *ngIf="search.errors?.required">
    Search value is required
  </div>
  <div *ngIf="search.errors?.minlength">
    Search value need to be at least 3 character
  </div>
</div>
